.shop{
    background-color: rgba(230, 231, 251, 0.73);
    border:3px groove #0F0A35;
    list-style-type: none;
}
.shop:hover{
    background-color: rgba(166, 233, 170, 0.73);
    border:3px groove #544CA8;
}
.activeShop{
    background-color: rgba(44, 204, 52, 0.73);
    border:3px groove #514F63;
}
.goods{
    background-color:#CECCE0;
}
.item{
    background-color: #7FCC6C;
    border:3px groove #0F0A35;
}
.addGoods{
    background-color:#D1637E;
    min-height: 200px;
    margin: 10px 0 10px 0;
}
.cardItem{
    min-height: 200px;
    border:3px groove #0F0A35;
    background-color:#7FCC6C;
    margin: 10px 0 10px 0;
}
agm-map {
    height: 300px;
  }
